* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #131e29;
}

.site-title {
  opacity: 0;
  animation: title-fade 1s 0.25s;
  animation-fill-mode: forwards;
  font-weight: 200;
  font-size: 9vmin;
  color: #f1d1a8;
  padding: 0.25em 0.5em;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes title-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.node {
  cursor: pointer;
  position: absolute;
  z-index: 0;
}

.link {
  fill: none;
  stroke: black;
  stroke-width: 1px;
}

.hoverimg {
  width: 300px;
}

.hovertxt {
  font-size: 1.25rem;
  fill: #f1d1a8;
}

.hoverspan {
  font-size: 1.25rem;
  color: #f1d1a8;
  background: #666;
  opacity: 0.6;
}

/*************** Dialog CSS ***********/
dialog {
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  border: 5px solid #000;
  padding: 1em;
}

dialog a.close {
  float: right;
  margin: 0 0.5em;
  text-decoration: none;
}

dialog .content img {
  max-width: 100%;
  max-height: 100%;
}
